@*綁定繫結的型別，為一個ViewModel，裡面包了數個資料表類別*@
@model Toeicking2021.ViewModels.SentenceInputVM

@{
    ViewData["Title"] = "新增句子";

}

@section topCSS{
    @*modal的css檔案*@
    <link href="~/lib/plugins/custombox/dist/custombox.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/morris/morris.css" rel="stylesheet" />
    @*multi-select的css檔案*@
    <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" />
    <link href="~/lib/plugins/select2/select2.css" rel="stylesheet" />
}
@section bottomCSS{
    <style>
        /*選擇器稍微選細一點，不然會影響到別的i元素*/
        .card-box i:hover {
            color: #3bafda;
            transform: scale(1.7);
            transition: 0.3s;
        }

        .card-box i {
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>


}

<div class="card-box">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <a asp-action="" class="btn btn-primary waves-light w-md">查詢資料庫句數</a>
                </div>
                <label class="ml-3">資料庫句數：</label>
                <label id="senNum"></label>
            </div>
        </div>
    </div>
</div>
<form asp-action="" method="post">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div class="form-group">
                    <label for="englishSentence" class="h4"><b>必考金句：</b></label>
                    <textarea asp-for="@Model.Sentence.Sen" id="englishSentence" class="form-control" rows="3" style="width: 100%; height:100%"></textarea>
                </div>
                <div class="form-group">
                    <label for="translation" class="h4"><b>中文翻譯：</b></label>
                    <textarea asp-for="@Model.Sentence.Chinesese" id="translation" class="form-control" rows="3" style="width: 100%; height:100%"></textarea>
                </div>
                <div class="form-group">
                    <label for="context" class="h4"><b>情境：</b></label>
                    <select asp-for="@Model.Sentence.Context" asp-items="ViewBag.ContextCategories" id="context" class="form-control">
                    </select>
                </div>
                <div class="form-group" id="grammar-category">
                    <label for="multi-select" class="h4"><b>文法分類：</b></label>
                    <select class="select2 select2-multiple" multiple="multiple" id="multi-select-grammar-category" data-placeholder="">
                        <optgroup label="各種現在式">
                            <option value="1">現在簡單式</option>
                            <option value="2">現在進行式</option>
                            <option value="3">現在完成式</option>
                            <option value="4">現在完成進行式</option>
                        </optgroup>
                        <optgroup label="各種過去式">
                            <option value="5">過去簡單式</option>
                            <option value="6">過去進行式</option>
                            <option value="7">過去完成式</option>
                            <option value="8">過去完成進行式</option>
                        </optgroup>
                        <optgroup label="各種未來式">
                            <option value="9">未來簡單式</option>
                            <option value="10">未來進行式</option>
                            <option value="11">未來完成式</option>
                            <option value="12">未來完成進行式</option>
                        </optgroup>
                        <optgroup label="語態">
                            <option value="13">被動語態</option>
                        </optgroup>
                        <optgroup label="名詞子句">
                            <option value="14">that開頭</option>
                            <option value="15">if/whether開頭</option>
                            <option value="16">wh-疑問詞開頭</option>
                        </optgroup>
                        <optgroup label="形容詞子句">
                            <option value="17">修飾"人"</option>
                            <option value="18">修飾"事物"</option>
                            <option value="19">修飾"時間"</option>
                            <option value="20">修飾"地點"</option>
                            <option value="21">whose</option>
                        </optgroup>
                        <optgroup label="副詞子句">
                            <option value="22">描述"時間"</option>
                            <option value="23">描述"原因"</option>
                            <option value="24">描述"對比"</option>
                            <option value="25">描述"條件"</option>
                            <option value="26">描述"目的"</option>
                            <option value="27">假設語氣</option>
                            <option value="28">其它副詞子句</option>
                        </optgroup>
                        <optgroup label="子句減化">
                            <option value="29">名詞子句減化</option>
                            <option value="30">形容詞子句減化</option>
                            <option value="31">副詞子句減化</option>
                            <option value="32">接續發展</option>
                            <option value="33">背景說明</option>
                        </optgroup>
                        <optgroup label="介詞片語">
                            <option value="34">單個介片</option>
                            <option value="35">多個介片</option>
                        </optgroup>
                        <optgroup label="動狀詞">
                            <option value="36">動名詞</option>
                            <option value="37">不定詞</option>
                        </optgroup>
                        <optgroup label="問句">
                            <option value="38">Yes/No問句</option>
                            <option value="39">Wh-疑問句</option>
                        </optgroup>
                        <optgroup label="對等連接">
                            <option value="40">轉折詞</option>
                            <option value="41">對等連接詞</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group" id="part-category">
                    <label for="multi-select" class="h4"><b>出現大題：</b></label>
                    <select class="select2 select2-multiple" multiple="multiple" id="multi-select-part-category" data-placeholder="">
                        <optgroup label="大題">
                            <option value="1">Part 1</option>
                            <option value="2">Part 2</option>
                            <option value="3">Part 3</option>
                            <option value="4">Part 4</option>
                            <option value="5">Part 5</option>
                            <option value="6">Part 6</option>
                            <option value="7">Part 7</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div id="grammar" class="form-group">
                    <label for="usage" class="h4"><b>文法解析：</b> <i id="add_usage" class="fa fa-plus-square"></i> <i id="grammar-snippet" class="fa fa-pencil" data-target="#accordion-modal"></i></label>
                    @*迴圈生重複的控制項*@
                    @for (int i = 1; i < 6; i++)
                    {
                        // 組id用的字串
                        string id = "usasge" + i.ToString();
                        // HTML
                        // asp-for除了繫結屬性外，也會生html的name或id值，伺服器端要看到name屬性值是集合屬性名稱[i]，才會繫結值到集合的元素內
                        <textarea id="@id" asp-for="@Model.GAs[i-1].Analysis" class="usage form-control mb-3" rows="2" style="width: 100%; height:100%"></textarea>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <label class="h4"><b>字彙片語：</b> <i id="add_voc" class="fa fa-plus-square"></i></label>
                <div id="vocabulary" class="">
                    @*迴圈生重複的控制項*@
                    @for (int i = 1; i < 7; i++)
                    {
                        //組id用的字串
                        string vocId = "voc" + i.ToString();
                        string categoryId = "category" + i.ToString();
                        string defId = "def" + i.ToString();
                        // HTML
                        <div class="voc_set form-group row ">
                            <div class="col-4">
                                <input type="text" id="@vocId" asp-for="@Model.Vocs[i-1].Voc" class="voc form-control" placeholder="字彙片語" />
                            </div>
                            <div class="col-3">
                                <select asp-for="@Model.Vocs[i-1].Category" asp-items="ViewBag.Categories" id="@categoryId" class="word-form form-control">
                                </select>
                            </div>
                            <div class="col-5">
                                <input type="text" asp-for="@Model.Vocs[i-1].Chinese" id="@defId" class="def form-control" placeholder="中文釋義" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div id="vocsupplement" class="form-group">
                    <label for="usage" class="h4"><b>字彙解析：</b> <i id="add_vocsupplement" class="fa fa-plus-square"></i> <i id="voc-snippet" class="fa fa-pencil" data-target="#accordion-modal"></i></label>
                    @for (int i = 1; i < 5; i++)
                    {
                        string id = "vocsupplement" + i.ToString();
                        <textarea id="@id" asp-for="@Model.VAs[i-1].Analysis" class="vocsupplement form-control mb-3" rows="2" style="width: 100%; height:100%"></textarea>
                    }
                </div>
                <div class="checkbox checkbox-primary form-check-inline">
                    @*render時value屬性都是true，但表單送出時還是會根據checked屬性(不會顯示)去給後端true或false*@
                    @*也會自動生驗證標籤*@
                    <input type="checkbox" id="inlineCheckbox1" asp-for="@Model.Sentence.WordOrigin">
                    <label for="inlineCheckbox1"> 字首字根字尾 </label>
                </div>
                <div class="checkbox checkbox-primary form-check-inline">
                    <input type="checkbox" id="inlineCheckbox2" asp-for="@Model.Sentence.Synonym">
                    <label for="inlineCheckbox2"> 重要同義字 </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-6">
                @*button標籤要指定type為button，不然會submit*@
                <button type="button" id="CheckRepetitiveWords" class="btn btn-block btn--lg btn-outline-warning waves-light">檢查字彙重複</button>
            </div>
            <div class="col-6">
                @*表單送出的按鈕，要先將multi-select值從前端抓給隱藏欄位繫結回後端*@
                <input type="submit" id="receiveMultiSelect" asp-action="Add" value="儲存資料" class="btn btn-block btn--lg btn-outline-success waves-light" />
            </div>
        </div>
    </div>
    @*接收multiselect值的隱藏欄位*@
    <input type="hidden" id="multiselect-data-grammar" asp-for="@Model.Sentence.GrammarCategory" />
    <input type="hidden" id="multiselect-data-part" asp-for="@Model.Sentence.Part" />
    @*存DB的結果*@
    <input type="hidden" id="result" value="@ViewBag.result" />
</form>

@*accordion-modal，用在快速輸入*@
<div id="accordion-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content p-0">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                主詞相關
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="button-list">
                                @*用字串集合snippets生每個button*@
                                @foreach (var item in ViewBag.Snippets)
                                {
                                    //使用button，用.snippet來選取按鈕事件
                                    <button type="button" class="snippet btn btn-secondary">@item</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0 mt-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    動詞相關
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body">
                                <div class="button-list">
                                    @foreach (var item in ViewBag.Snippets)
                                    {
                                        <button type="button" class="snippet btn btn-outline-secondary">@item</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0 mt-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    修飾語相關
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-body">
                                <div class="button-list">
                                    @foreach (var item in ViewBag.Snippets)
                                    {
                                        <button type="button" class="snippet btn btn-success">@item</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section topScripts{
    @*multi-select的js檔*@
    <script src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/lib/plugins/select2/select2.js"></script>
    <script src="~/lib/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="~/lib/assets/pages/jquery.form-advanced.init.js"></script>
}

@section bottomScripts{
    @*modal的js檔*@
    <script src="~/lib/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/lib/plugins/custombox/dist/legacy.min.js"></script>
    @*想要在前端驗證需匯入下列兩個內建檔案*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            // 新增"用法解析"
            $("#add_usage").on("click", function () {
                var usageLength = $(".usage").length;
                var lengthToAdd = usageLength + 1;
                // 因為要使用asp-for繫結資料，所以得利用partial view來動態生控制項
                var formData = { number: lengthToAdd, category:"ga" }
                $.get("@Url.Content("~/Sentence/AddControl")", formData, function (response) {
                    $("#grammar").append(response);
                });


            });
            // 新增"字彙解析"
            $("#add_vocsupplement").on("click", function () {
                var vocsupplementLength = $(".vocsupplement").length;
                var lengthToAdd = vocsupplementLength + 1;
                var formData = { number: lengthToAdd, category:"va" }
                $.get("@Url.Content("~/Sentence/AddControl")", formData, function (response) {
                    $("#vocsupplement").append(response);
                });


            });
            // 新增"字彙片語"
            $("#add_voc").on("click", function () {
                var voc_setLength = $(".voc_set").length;
                var lengthToAdd = voc_setLength + 1;
                var formData = { number: lengthToAdd, category:"voc" }
                $.get("@Url.Content("~/Sentence/AddControl")", formData, function (response) {
                    $("#vocabulary").append(response);
                });


            });

            // 自動輸入搭配modal實現步驟：
            // 1.全域變數記住focus的控制項id
            var focusedInputId;
            // 2.文字框focus事件中，取到該文字框的id(因為開啟modal會使focus消失)，存在focusedInputId(一個頁面只會有一個focus)
            // ***事件有要給ajax產生的元素用(新增的文字框)，一定要按照下面方式寫，寫.focus()只對原本就有的元素有效(初載入時的文字框)***
            $("body").on("focus",".vocsupplement,.usage", function () {
                focusedInputId = $(this).attr("id");
            });

            // 3.開modal前先檢查是否有focus
            $("#voc-snippet, #grammar-snippet").on("click", function () {
                // 先檢查是否有文字框focus
                if (focusedInputId === undefined) {
                    swal(
                        {
                            title: '錯誤',
                            text: '請先Focus文字框',
                            type: 'error'
                        }

                    );
                } else {
                    // 開modal
                    $(this).attr("data-toggle", "modal");
                }

            });
            // 4.modal內的按鈕設定click事件，將值填入該文字框中
            $(".snippet").on("click", function () {

                // id使用變數，選取時還是要跟"#"串字串
                var currentObj = $("#" + focusedInputId);
                var existingValue = currentObj.val();
                if (existingValue === undefined) {
                    existingValue = "";
                }
                // 取得按鈕文字
                var addedValue = $(this).text();
                currentObj.val(existingValue + addedValue);
                // 手動關閉modal
                $("#accordion-modal").modal('hide');
                // 重新focus要在關掉modal後才能生效
                currentObj.focus();


            });

            // 清空內容(還要查看id是否有改過)
            function clearControls() {
                $("#englishSentence").val("");
                $("#translation").val("");
                $(".voc").each(function () {
                    $(this).val("");
                });
                $(".word-form").each(function () {
                    $(this).val("");
                });
                $(".def").each(function () {
                    $(this).val("");
                });
                $(".usage").each(function () {
                    $(this).val("");
                });
                $(".vocsupplement").each(function () {
                    $(this).val("");
                });

            }

            // 接收multiselect的值放進隱藏欄位中(在submit的onclick的函式中)
            $("#receiveMultiSelect").on("click", function () {
                //先設全域變數接迴圈內的值
                var selectedGrammarCategories = "";
                //將所有li標籤跑迴圈
                $("#grammar-category .select2-search-choice").each(function () {
                    //選取下一層div標籤的text值
                    selectedGrammarCategories = selectedGrammarCategories + $(this).children("div").text() + ",";
                });
                //將所有選到的值給隱藏欄位，選到的是text，無法選value，到動作方法要透過Service處理對應到value
                $("#multiselect-data-grammar").val(selectedGrammarCategories);
                // 第二個multi-select
                var selectedPartCategories = "";
                $("#part-category .select2-search-choice").each(function () {
                    selectedPartCategories = selectedPartCategories + $(this).children("div").text() + ",";
                });
                $("#multiselect-data-part").val(selectedPartCategories);

            });

            // result不為空(post存DB)的時候才判斷，否則GET時候就會跳出
            if ($("#result").val() != "") {

                // (從post導回Get後)頁面重新整理的時候
                if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
                    // 不顯示sweetalert
                    $("#result").val() = "";
                }
                // 顯示sweetalert
                if ($("#result").val() == "成功") {
                    swal(
                        {
                            title: '成功',
                            text: "資料庫新增成功",
                            type: 'success'
                        }
                    );

                } else {
                    swal(
                        {
                            title: '錯誤',
                            text: $("#result").val(),
                            type: 'error'
                        }

                    );
                }
            }

            // 檢查字彙重複
            $("#CheckRepetitiveWords").on("click", function () {
                var vocs = $(".voc");
                var categories = $(".word-form");
                var defs = $(".def");
                var arrayVocs = [];
                var arrayCategories = [];
                var arrayChinese = [];
                var vocData = [];
                function vocObj(voc, category, chinese) {
                    //左邊voc_id是屬性，必須跟webservice裡類別的屬性名稱完全一樣，右邊是屬性值，為傳入的參數(名稱可自訂)。
                    this.Voc = voc;
                    this.Category = category;
                    this.Chinese = chinese;
                }
                //自設迴圈計數器
                var p = 0;
                //遍覽每個元素，準備給值
                vocs.each(function () {
                    //檢查是否為空值
                    if ($.trim($(this).val()) !== "") {
                        //不是才放進集合中
                        arrayVocs[p] = $.trim($(this).val());
                    }
                    //不要忘記計數器要加1
                    p++;
                });
                //自設迴圈計數器
                var k = 0;
                //遍覽每個元素，準備給值
                categories.each(function () {
                    //檢查是否為空值
                    if ($(this).val() !== "") {
                        //不是才放進集合中
                        arrayCategories[k] = $(this).val();
                    }
                    //不要忘記計數器要加1
                    k++;
                });
                //自設迴圈計數器
                var t = 0;
                //遍覽每個元素，準備給值
                defs.each(function () {
                    //檢查是否為空值
                    if ($.trim($(this).val()) !== "") {
                        //不是才放進集合中
                        arrayChinese[t] = $.trim($(this).val());
                    }
                    //不要忘記計數器要加1
                    t++;
                });
                // 每個陣列的數量一樣才執行ajax
                if (arrayVocs.length === arrayCategories.length && arrayCategories.length === arrayChinese.length) {
                    for (var i = 0; i < arrayVocs.length; i++) {
                        //新增物件給值並裝進陣列，準備回傳
                        vocData[i] = new vocObj(arrayVocs[i], arrayCategories[i], arrayChinese[i]);
                    }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Sentence/CheckRepetitiveWords")',
                        dataType: 'json',
                        data: JSON.stringify(vocData),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            alert(response);
                            if (response === "0")
                            {
                                swal(
                                    {
                                        title: '檢查完成',
                                        text: '沒有任何字彙與資料庫重複！',
                                        type: 'success'
                                    }

                                );

                            } else {
                                swal(
                                    {
                                        title: '以下字彙與資料庫重複：',
                                        text: response,
                                        type: 'error'
                                    }
                                );
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(xhr.readyState);
                            alert(xhr.responseText);
                        }


                    });


                } else {
                    swal(
                        {
                            title: '錯誤',
                            text: '三個控制項有值的數量不同！',
                            type: 'error'
                        }
                    );
                }


            });





        });


    </script>
}


