@*綁定繫結的型別，為一個ViewModel，裡面包了數個資料表類別*@
@model Toeicking2021.ViewModels.SentenceInput

@{
    ViewData["Title"] = "新增句子";
    List<string> snippets = new List<string>
    {
       "本句主詞為", "是一個名詞子句", "開頭連接詞為", "動名詞"
    };


}

@section topCSS{
    @*modal的css檔案*@
    <link href="~/lib/plugins/custombox/dist/custombox.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/morris/morris.css" rel="stylesheet" />
    @*multi-select的css檔案*@
    <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" />
    <link href="~/lib/plugins/select2/select2.css" rel="stylesheet" />
}
@section bottomCSS{
    <style>
        /*選擇器稍微選細一點，不然會影響到別的i元素*/
        .card-box i:hover {
            color: #3bafda;
            transform: scale(1.7);
            transition: 0.3s;
        }

        .card-box i {
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>


}

<div class="card-box">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <a asp-action="" class="btn btn-primary waves-light w-md">查詢資料庫句數</a>
                </div>
                <label class="ml-3">資料庫句數：</label>
                <label id="senNum"></label>
            </div>
        </div>
    </div>
</div>
<form asp-action="" method="post">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div class="form-group">
                    <label for="englishSentence" class="h4"><b>必考金句：</b></label>
                    <textarea id="englishSentence" class="form-control" rows="3" style="width: 100%; height:100%"></textarea>
                </div>
                <div class="form-group">
                    <label for="translation" class="h4"><b>中文翻譯：</b></label>
                    <textarea id="translation" class="form-control" rows="3" style="width: 100%; height:100%"></textarea>
                </div>
                <div class="form-group">
                    <label for="translation" class="h4"><b>情境：</b></label>
                    <select asp-items="Model.ContextCategories" id="category1" name="form" class="word-form form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="translation" class="h4"><b>文法分類：</b></label>
                    <select class="select2 select2-multiple" multiple="multiple" id="test" data-placeholder="">
                        <optgroup label="各種現在式">
                            <option value="1">現在簡單式</option>
                            <option value="2">現在進行式</option>
                            <option value="3">現在完成式</option>
                            <option value="4">現在完成進行式</option>
                        </optgroup>
                        <optgroup label="各種過去式">
                            <option value="5">過去簡單式</option>
                            <option value="6">過去進行式</option>
                            <option value="7">過去完成式</option>
                            <option value="8">過去完成進行式</option>
                        </optgroup>
                        <optgroup label="各種未來式">
                            <option value="9">未來簡單式</option>
                            <option value="10">未來進行式</option>
                            <option value="11">未來完成式</option>
                            <option value="12">未來完成進行式</option>
                        </optgroup>
                        <optgroup label="名詞子句">
                            <option value="">that開頭</option>
                            <option value="">if/whether開頭</option>
                            <option value="">wh-疑問詞開頭</option>
                        </optgroup>
                        <optgroup label="形容詞子句">
                            <option value="">修飾"人"</option>
                            <option value="">修飾"事物"</option>
                            <option value="">修飾"時間"</option>
                            <option value="">修飾"地點"</option>
                            <option value="">whose</option>
                        </optgroup>
                        <optgroup label="副詞子句">
                            <option value="">描述"時間"</option>
                            <option value="">描述"原因"</option>
                            <option value="">描述"對比"</option>
                            <option value="">描述"條件"</option>
                            <option value="">描述"目的"</option>
                            <option value="">假設語氣</option>
                            <option value="">其它</option>
                        </optgroup>
                        <optgroup label="子句減化">
                            <option value="">名詞子句減化</option>
                            <option value="">形容詞子句減化</option>
                            <option value="">副詞子句減化</option>
                            <option value="">接續發展</option>
                            <option value="">背景說明</option>
                        </optgroup>
                        <optgroup label="介詞片語">
                            <option value="">單個介片</option>
                            <option value="">多個介片</option>
                        </optgroup>
                    </select>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div id="grammar" class="form-group">
                    <label for="usage" class="h4"><b>文法解析：</b> <i id="add_usage" class="fa fa-plus-square"></i> <i id="grammar-snippet" class="fa fa-pencil" data-toggle="modal" data-target="#accordion-modal"></i></label>
                    @*迴圈生重複的控制項*@
                    @for (int i = 1; i < 6; i++)
                    {
                        // 組id用的字串
                        string id = "usasge" + i.ToString();
                        // HTML
                        <textarea id="@id" name="usage" class="usage form-control mb-3" rows="2" style="width: 100%; height:100%"></textarea>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <label class="h4"><b>字彙片語：</b> <i id="add_voc" class="fa fa-plus-square"></i></label>
                <div id="vocabulary" class="">
                    @*迴圈生重複的控制項*@
                    @for (int i = 1; i < 7; i++)
                    {
                        //組id用的字串
                        string vocId = "voc" + i.ToString();
                        string categoryId = "category" + i.ToString();
                        string defId = "def" + i.ToString();
                        // HTML
                        <div class="voc_set form-group row ">
                            <div class="col-4">
                                <input type="text" id="@vocId" name="voc" class="voc form-control" placeholder="字彙片語" />
                            </div>
                            <div class="col-3">
                                <select asp-items="Model.Categories" id="@categoryId" name="form" class="word-form form-control">
                                </select>
                            </div>
                            <div class="col-5">
                                <input id="@defId" name="def" class=" def form-control" placeholder="中文釋義" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <div id="vocsupplement" class="form-group">
                    <label for="usage" class="h4"><b>字彙解析：</b> <i id="add_vocsupplement" class="fa fa-plus-square"></i> <i id="voc-snippet" class="fa fa-pencil" data-toggle="modal" data-target="#accordion-modal"></i></label>
                    @for (int i = 1; i < 5; i++)
                    {
                        string id = "vocsupplement" + i.ToString();
                        <textarea id="@id" name="vocsupplement" class="vocsupplement form-control mb-3" rows="2" style="width: 100%; height:100%"></textarea>
                    }
                </div>
                <div class="checkbox checkbox-primary form-check-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                    <label for="inlineCheckbox1"> 字首字根字尾 </label>
                </div>
                <div class="checkbox checkbox-primary form-check-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option1">
                    <label for="inlineCheckbox2"> 重要同義字 </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-4 mb-4">
                @*前端按鈕要加OnClientClick="return false"，modal按鈕要加屬性data-toggle="modal" data-target="#con-close-modal"，如果要用js控制就不用加*@
                <button id="checkRepetition" class="btn btn-block btn--lg btn-outline-warning waves-light" OnClick="">檢查字彙重複</button>
            </div>
            <div class="col-4 mb-4">
                @*表單送出的按鈕*@
                <input type="submit" value="儲存資料" class="btn btn-block btn--lg btn-outline-success waves-light" OnClick="" />
            </div>
            <div class="col-4 mb-4">
                <button id="reload" class="btn btn-block btn--lg btn-outline-danger waves-light" OnClick="">清空內容</button>
            </div>
        </div>
    </div>
    @*接收multiselect值的隱藏欄位*@
    <input type="hidden" id="multiselect-data" name="" />
</form>

@*accordion-modal，用在快速輸入*@
<div id="accordion-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content p-0">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                主詞相關
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="button-list">
                                @*用字串集合snippets生每個button*@
                                @foreach (var item in snippets)
                                {
                                    //使用button，用.snippet來選取按鈕事件
                                    <button type="button" class="snippet">@item</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0 mt-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    動詞相關
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body">
                                <div class="button-list">
                                    @foreach (var item in snippets)
                                    {
                                        <button type="button" class="snippet">@item</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0 mt-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    修飾語相關
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-body">
                                <div class="button-list">
                                    @foreach (var item in snippets)
                                    {
                                        <button type="button" class="snippet">@item</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section topScripts{
    @*multi-select的js檔*@
    <script src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/lib/plugins/select2/select2.js"></script>
    <script src="~/lib/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="~/lib/assets/pages/jquery.form-advanced.init.js"></script>
}

@section bottomScripts{
    @*modal的js檔*@
    <script src="~/lib/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/lib/plugins/custombox/dist/legacy.min.js"></script>
    <script>
        $(function () {
            // 新增"用法解析"
            $("#add_usage").on("click", function () {
                var usageLength = $(".usage").length;
                var lengthToAdd = usageLength + 1;
                var usageToAdd = '<textarea id="usage' + lengthToAdd + '" name="usage" class="usage form-control mt-3" rows="2" style="width: 100%; height:100%"></textarea>';
                $("#grammar").append(usageToAdd);

            });
            // 新增"字彙解析"
            $("#add_vocsupplement").on("click", function () {
                var vocsupplementLength = $(".vocsupplement").length;
                var lengthToAdd = vocsupplementLength + 1;
                var vocsupplementToAdd = '<textarea id="vocsupplement' + lengthToAdd + '" name="vocsupplement" class="vocsupplement form-control mt-3" rows="2" style="width: 100%; height:100%"></textarea>';
                $("#vocsupplement").append(vocsupplementToAdd);

            });
            // 新增"字彙片語"
            $("#add_voc").on("click", function () {
                var voc_setLength = $(".voc_set").length;
                var LengthToAdd = voc_setLength + 1;
                var voc_setToAdd = '<div class="voc_set form-group row"> ' +
                    '<div class="col-4" > ' +
                    '<input id="voc' + LengthToAdd + '" name="voc" class="voc form-control" /> ' +
                    '</div > ' +
                    '<div class="col-3"> ' +
                    '<select id="category' + LengthToAdd + '" name="form" class="word-form form-control"> ' +
                    '<option value="">請選擇</option> ' +
                    '<option value="n">(n.)</option> ' +
                    '<option value="v">(v.)</option> ' +
                    '<option value="adj">(adj.)</option> ' +
                    '<option value="adv">(adv.)</option> ' +
                    '<option value="prep">(prep.)</option> ' +
                    '<option value="conj">(conj.)</option> ' +
                    '</select> ' +
                    '</div> ' +
                    '<div class="col-5"> ' +
                    '<input id="def' + LengthToAdd + '" name="voc" name="def" class="def form-control" /> ' +
                    '</div> ' +
                    '</div > ';
                $("#vocabulary").append(voc_setToAdd);


            });

            // 自動輸入搭配modal實現
            var focusedInput;
            // 文字框focus事件中，取到該文字框的id(因為開啟modal會使focus消失)，存入一個全域變數中(一個頁面只會有一個focus)：
            $(".vocsupplement,.usage").focus(function () {
                focusedInputId = $(this).attr("id");
            });
            // modal內的按鈕設定click事件，將值填入該文字框中
            $(".snippet").on("click", function () {
                // id使用變數，選取時還是要跟"#"串字串
                var currentObj = $("#" + focusedInputId);
                var existingValue = currentObj.val();
                if (existingValue === undefined) {
                    existingValue = "";
                }
                // 取得按鈕文字
                var addedValue = $(this).text();
                currentObj.val(existingValue + addedValue);
                // 手動關閉modal
                $("#accordion-modal").modal('hide');
                // 重新focus要在關掉modal後才能生效
                currentObj.focus();
            });

            // 重新載入按鈕
            $("#reload").on("click", function () {
                //location.reload;
                //history.go(0);
                //window.location.replace(location.href);
                // 重新載入使用這個
                window.location = window.location.href;
                //window.location.assign(window.location.href);
                //清空控制項
                //$("#englishSentence").val("");
                //$("#translation").val("");
                //$(".voc").each(function () {
                //    $(this).val("");
                //});
                //$(".word-form").each(function () {
                //    $(this).val("");
                //});
                //$(".def").each(function () {
                //    $(this).val("");
                //});
                //$(".usage").each(function () {
                //    $(this).val("");
                //});
                //$(".vocsupplement").each(function () {
                //    $(this).val("");
                //});

            });

            // 接收multiselect的值放進隱藏欄位中(在submit的onclick的函式中)
            $("#body_Button1").click(function () {
                //先設全域變數接迴圈內的值
                var SelectedText = "";
                //將所有li標籤跑迴圈
                $(".select2-search-choice").each(function () {
                    //選取下一層div標籤的text值
                    SelectedText = SelectedText + $(this).children("div").text() + ",";
                });
                //將所有選到的值給隱藏欄位，選到的是text，無法選value，到動作方法要處理對應到value
                $("#multiselect-data").val(SelectedText);
                //回server執行控制項的事件處理常式，val()裡要放的是要執行事件常式的控制項的name(不是id)
                $("#__EVENTTARGET").val("ctl00$body$Button1");
                $("#form1").submit();
            });



        });


    </script>
}


